@model GeneralCommonSettingsModel

<div class="card-body">
    <div class="form-group row">
        <div class="col-md-3">
            <nop-override-store-checkbox asp-for="StoreInformationSettings.SubjectFieldOnContactUsForm_OverrideForStore" asp-input="StoreInformationSettings.SubjectFieldOnContactUsForm" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
            <nop-label asp-for="StoreInformationSettings.SubjectFieldOnContactUsForm" />
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="StoreInformationSettings.SubjectFieldOnContactUsForm" />
            <span asp-validation-for="StoreInformationSettings.SubjectFieldOnContactUsForm"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            <nop-override-store-checkbox asp-for="StoreInformationSettings.UseSystemEmailForContactUsForm_OverrideForStore" asp-input="StoreInformationSettings.UseSystemEmailForContactUsForm" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
            <nop-label asp-for="StoreInformationSettings.UseSystemEmailForContactUsForm" />
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="StoreInformationSettings.UseSystemEmailForContactUsForm" />
            <span asp-validation-for="StoreInformationSettings.UseSystemEmailForContactUsForm"></span>
        </div>
    </div>
    
    @*render custom contact form attributes*@
    @await Html.PartialAsync("../ContactFormAttribute/ListBlock.cshtml", Model.ContactFormAttributeSearchModel)
</div>